<h1>
  Welcome to ngx-preload-module
</h1>
<div><a href="https://github.com/JanMalch/ngx-preload-module">GitHub</a>&nbsp;&nbsp;
  <a href="https://npmjs.com/package/ngx-preload-module">npm</a>&nbsp;&nbsp;
  <a href="https://github.com/JanMalch/ngx-preload-module/blob/master/src/app/app.component.html">Demo source</a>
</div>
<p>Make sure to view network traffic in Dev Tools.</p>
<ng-container preloadModule #preloader="preloadModule" (result)="log($event)"></ng-container>
<button (mouseover)="now() || preloader.load('src/app/foo/foo.module#FooModule')">Foo (mouseover)</button>
<button (click)="now() || preloader.load('BarModule')">Bar (click)</button>

<pre>- {{ logs.join("\n- ")}}</pre>
